---
layout: layout
title: "Home"
---

<section class="content">
<h1>dev/space</h1>
<p>I am Rotem Hermon.<br/>Currently Lead Architect at SAP Customer Data Cloud (formerly <a href="https://www.sap.com/israel/acquired-brands/what-is-gigya.html" target="_blank">Gigya</a>).
<br/>
This is my little space on the Interwebs.
</p>
<h2>Projects</h2>
  <ul class="listing">
    <li>
      <a href="https://github.com/rore/zkms" target="_blank"><b>zkms</b></a>, A simple pub-sub messaging service based on Zookeeper.
    </li>
    <li>
      <a href="https://github.com/rore/json2flot" target="_blank"><b>json2flot</b></a>, A Javascript library for collecting, aggregating and plotting real-time metrics from JSON data using flot.
    </li>
    <li>
      <a href="https://github.com/rore/countem" target="_blank"><b>countem</b></a>, A scala library for counting events in a distributed system.
    </li>
    <li>
      <a href="https://github.com/gigya/flume-ng-elasticsearch-ser-ex" target="_blank"><b>flume-ng-elasticsearch-ser-ex</b></a>, An extended logstash-format serializer for the Elasticsearch sink for Flume.
    </li>
  </ul>

<h2>Posts</h2>
  <ul class="listing">
    {% for post in site.posts %}
    <li>
      <span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
	  <section class="excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt }}{% endif %}</section>
    </li>
    {% endfor %}
  </ul>
</section>
