---
layout: layout
title: "Home"
---

<section class="content">
<h1>dev/space</h1>
<p>I am Rotem Hermon.<br/>Currently Chief Architect at SAP CX Loyalty. Previously Chief Architect at Gigya (acquired by SAP).
<br/>
This is my little space on the Interwebs.
</p>
<h2>Projects</h2>
  <ul class="listing">
    <li>
      <a href="https://github.com/rore/bear-cli" target="_blank" rel="noopener noreferrer"><b>bear</b></a>
    </li>
    <li>
      <a href="https://github.com/rore/minimap" target="_blank" rel="noopener noreferrer"><b>minimap</b></a>
    </li>
  </ul>

<h2>Posts</h2>
  <ul class="listing">
    {% for post in site.posts %}
    <li>
      <span>{{ post.date | date: "%B %e, %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
      <section class="excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt }}{% endif %}</section>
    </li>
    {% endfor %}
  </ul>
</section>