---
layout: layout
---

<section class="content post">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <section class="meta">
    <section class="social share-links">
      <a href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&amp;url={{ site.url | append: page.url | cgi_escape }}&amp;via={{ site.twitter | cgi_escape }}" target="_blank" rel="noopener noreferrer">Share on X</a>
      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url | append: page.url | cgi_escape }}" target="_blank" rel="noopener noreferrer">Share on LinkedIn</a>
      <a href="{{ site.url }}{{ page.url }}">Permalink</a>
    </section>
    {% if page.comments %}
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = 'roreim';
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
  </section>
</section>